{% extends 'notLbase.html' %}
{% load static %}
{% block content %}
    <div class="cart flex-center mb-30">
        <div class="card-200-c m-10">
            <h1 class="h1-pr m-10 text-center mb-30">CART <i class="fa fa-shopping-cart"></i></h1>
            <div class="order-list flex-column-base">
                {% for food in cart_items.foodcart.all %}
                <div class="fc-m">
                    <img src="{{food.food.photo.url}}" class="c-img">
                    <div class="content">
                        <h3>{{food.food.name}}</h3>
                        <p>GH₵ {{food.food.price}}</p>
                        <p class="mi-10 text-gray">{{food.quantity}}</p>
                       <div class="quantity flex-center-column">
                            <p>Quantiy</p>
                            <div class="flex gap-10">
                                <a class="foodedit btn-pl" data-food="{{food.food.id}}" data-action="add">+</a> 
                                <a class="foodedit btn-pl" data-food="{{food.food.id}}" data-action="sub">-</a> 
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
               
            </div>
            <div class="flex-row-sb t-pos-bottom">
                <h4>Total :</h4>
                <p>GH₵ {{cart_items.total}}</p>
            </div>
            <button type="submit" class="btn m-20 pos-bottom shadow">Pay Now</button>
        </div>
    </div>

    {% endblock content %}
{% block myscript %}
<script>
function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
const csrftoken = getCookie('csrftoken');

let foodEditBtn = document.getElementsByClassName('foodedit')

for (let i=0; i < foodEditBtn.length; i++){
    foodEditBtn[i].addEventListener('click', function(){
        let product = this.dataset.food
        let action = this.dataset.action
        editCart(product, action)
    })
}
function editCart(product, action){
    var url = "{% url 'cart:cartAdd' %}"

    fetch(url, {
        method: "POST",
        headers:{
            'Content-Type': 'application/json',
            'X-CSRFToken': csrftoken,
        },
        body:JSON.stringify({'product':product,'action':action})
    })
    .then((response)=>{
        return response.json()
    })
    .then((data)=>{
        console.log(data)
        location.reload()

    })
}
</script>
{% endblock%}