<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eateries Pedal Component</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="css/all.min.css">
    <link rel="stylesheet" href="css/brands.css">
</head>
<body>
    <div class="loading-bg">
        <div class="loading"></div>
        <h1 class="h1-load">Loading</h1>
    </div>
    <div class="nav-bar fixed-top shadow">
        <a href="index.html"><h2 class="logo-l">Eateries</h2></a>
        <nav class="visible">
          <a href="menu.html" class="btn-link-d nav-link">Menu</a>
          <a href="login.html" class="btn-link-d nav-link">Login</a>
          <a href="signup.html" class="btn-link-d nav-link">Signup</a>
          <a href="#" class="btn-link-d nav-link">About</a>
        </nav>  
        <button class="menu-toggle"><i class="fa fa-bars"></i></button>
      </div>
      <div class="profile-card">
          <img src="Assets/f2.png" class="profile-card-bg-img">
          <div class="profile-card-content">
              <div class="profile-item ">
              <img src="Assets/f2.png" class="profile-pic">
                <div class="mi-20 flex-column-sb">
                    <h1 class="text-light">Pizza</h1>
                <h2 class="text-light f-14"> GH₵ 15</h2>
                <a href="#" class="btn">Buy Now</a>
                </div>
              </div>
              <div class="profile-item">
                  <div class="mb-30 text-space all-m-bottom-10">
                      <div class="f-14 text-light">Description: The below are random text dolor sit amet consectetur adipisicing elit. sunt dolorum exercitationem dolores culpa laborum aliquid, minus at accusamus nobis saepe temporibus.</div>
                      <h1 class="h1-pr f-16"> Free delivery</h1>
                      <h1 class="h1-pr f-16"> 10  20min</h1>
                  </div>
              </div>
          </div>
          <div class="profile-card-content-sm-bottom ">
              <a href="#"><img src="/Assets/Avatar.png" class="profile-pic-rounded-sm"></a>
          </div>
      </div>
  <div class="m-30">
    <div class="card-150">
        <div class="card-150-img-container">
            <img src="Assets/f1.webp" alt="" class="card-150-img">
        </div>
        <div class="card150-offer">Free delivery</div>
        <div class="card150-content">
            <h1 class="card150-title">Pizza </h1>
            <h1 class="card150-price">GH₵ 15 </h1>
            <h1 class="card150-rating"> <i class="fa fa-star text-pr"></i> 3.2 </h1>
            <h1 class="card150-time"><i class="fa fa-clock text-pr"></i> 15 -10min </h1>
 
         </div>
 
        <a href="#" class="card150-btn-lb">more</a>
        <a href="#" class="card150-btn-rb">add to cart</a>
    </div>
  
 <div class="card-200 m-10 p-10">
     <div class="card200-icon-container">
         <i class="fa fa-cookie-bite card200-icon"></i>
     </div>
     <div class="card200-content">
         Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia vitae nisi excepturi culpa cumque quae odio sint. Facere non, eum praesentium ab in soluta, assumenda aspernatur ratione magnam dolorem sapiente!
     </div>
 </div>
 
 <div class="container-card mi-20">
     <form action="#">
         <input class="form-item" placeholder="Enter Text" type="text">
         <input type="submit" class="btn">
     </form> 
 </div>
  </div>


</body>
<script src="index.js"></script>

</html>