<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eateries Pedal Component</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="css/all.min.css">
    <link rel="stylesheet" href="css/brands.css">
</head>
<body>
    <div class="loading-bg">
        <div class="loading"></div>
        <h1 class="h1-load">Loading</h1>
    </div>
   <div class="card-150">
       <div class="card-150-img-container">
           <img src="Assets/f1.webp" alt="" class="card-150-img">
       </div>
       <div class="card150-offer">Free delivery</div>
       <div class="card150-content">
           <h1 class="card150-title">Pizza </h1>
           <h1 class="card150-price">GH₵ 15 </h1>
           <h1 class="card150-rating"> <i class="fa fa-star text-pr"></i> 3.2 </h1>
           <h1 class="card150-time"><i class="fa fa-clock text-pr"></i> 15 -10min </h1>

        </div>

       <a href="#" class="card150-btn-lb">more</a>
       <a href="#" class="card150-btn-rb">add to cart</a>
   </div>
   <div class="card-350">
    <div class="card-350-img-container">
        <img src="Assets/f1.webp" alt="" class="card-350-img">
    </div>
    <div class="card-offer">Free delivery</div>
    <div class="card-content">
        <h1 class="card-title">Pizza </h1>
        <h1 class="card-price">GH₵ 15 </h1>
        <h1 class="card-rating"><i class="fa fa-star text-pr"></i> 3.2 </h1>
        <h1 class="card-time"><i class="fa fa-clock text-pr"></i> 15 -10min </h1>

    </div>
    <a href="#" class="card-btn-lb">more</a>
    <a href="#" class="card-btn-rb">add to cart</a>
</div>
<div class="card-200 m-10 p-10">
    <div class="card200-icon-container">
        <i class="fa fa-cookie-bite card200-icon"></i>
    </div>
    <div class="card200-content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia vitae nisi excepturi culpa cumque quae odio sint. Facere non, eum praesentium ab in soluta, assumenda aspernatur ratione magnam dolorem sapiente!
    </div>
</div>
<div class="card-400 m-10 p-10">
    <div class="card400-icon-container">
        <i class="fa fa-cookie-bite card400-icon"></i>
    </div>
    <div class="card400-content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia vitae nisi excepturi culpa cumque quae odio sint. Facere non, eum praesentium ab in soluta, assumenda aspernatur ratione magnam dolorem sapiente!
    </div>
</div>
<div class="container-card m-20">
    <form action="#">
        <input class="form-item" placeholder="Enter Text" type="text">
        <input type="submit" class="btn">
    </form> 
</div>
<div class="container-card-lg m-20">
    <form action="#">
        </i><input class="form-item-lg" placeholder="Enter Text" type="text">
        <input type="submit" class="btn">
    </form> 
</div>

<div class="nav-bar shadow">
    <a href="index.html"><h2 class="logo-l">Eateries</h2></a>
    <nav class="visible">
      <a href="menu.html" class="btn-link-d nav-link">Menu</a>
      <a href="login.html" class="btn-link-d nav-link">Login</a>
      <a href="signup.html" class="btn-link-d nav-link">Signup</a>
      <a href="#" class="btn-link-d nav-link">About</a>
    </nav>  
    <button class="menu-toggle"><i class="fa fa-bars"></i></button>
  </div>

</body>
<script src="index.js"></script>

</html>