{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="mb-40 mi-30">
    <div class="flex-center">
        <div class="exclusive-card shadow-pr">
            <div class="text">
                <h1>Exclusive Offer</h1>  
                <h2>Enjoy 10% Off <br> Order Now</h2>  
                <a href="#" class="btn-pl  shadow">Buy Now</a>
            </div>
            <div class="food-img">
                <img src="{% static 'Assets/f2.png'%}" class="ex-img">
            </div>
        </div>
    </div>
        <form action="{% url 'home:foodSearch' %}" class="menubar mb-20">
            <input type="text" name="q" placeholder="Search" class="form-item"> <button type="submit" class="borderless text-pr search-btn"><i class="fa fa-search"></i></button>
        </form>
</div>
        {% if foods %}
        <div class="flex-wrap">
         {% for food in foods %}
         <div class="card-150 mb-10"  data-aos="flip-right" data-aos-delay="400">
            <div class="card-150-img-container">
                <img src="{{food.photo.url}}" alt="" class="card-150-img">
            </div>
            <div class="card150-offer">{{food.offer}}</div>
            <div class="card150-content">
                <h1 class="card150-title">{{food.name}} </h1>
                <h1 class="card150-price">GH₵ {{food.price}} </h1>
                <h1 class="card150-rating"> <i class="fa fa-star text-pr"></i> {{food.ratings}} </h1>
                <h1 class="card150-time"><i class="fa fa-clock text-pr"></i> {{food.delivery_time}}</h1>
     
             </div>
     
            <a href="{% url 'home:food' food.food_url %}" class="card150-btn-lb">more</a>
            <a href="cart.html" class="card150-btn-rb">add to cart</a>
        </div>
        {% endfor %}  
    </div>
        {% else %} 
        <h1 class="h1-pr mb-40"> No food available at the moment</h1>
         {% endif %}  
        <div class="pagination flex-center mb-20">
          {% include 'pagination.html' %}
        </div>
   

{% endblock %}